<h1>The Sample App</h1>
Here are some interesting urls you should check out:

<ul>
  <li>SampleOne:
    <ul>
      <li><a href="one/">one/</a></li>
      <li><a href="one/?echo=Hello">one/?echo=Hello</a></li>
      <li><a href="one/world/?echo=Hello">one/world/?echo=Hello</a></li>
    </ul>
  </li>
  <li>SampleTwo: <a href="two/">two/</a></li>
  <li>SampleThree: <a href="three/">three/</a></li>
  <li>SampleFour: <a href="four/">four/</a></li>
  <li>SampleFive: <a href="five/foo/bar/">five/foo/bar/</a></li>
  <li>SampleSix:
    <ul>
      <li><a href="six/foo/">six/foo/</a></li>
      <li><a href="six/foo/bar/">six/foo/bar/</a></li>
    </ul>
  </li>
  <li>SampleSeven:
    <ul>
      <li><a href="seven/fun-stuff/and/sweetness-is-great/">seven/fun-stuff/and/sweetness-is-great/</a></li>
      <li><a href="seven/fun-stuff/and/sweetness-is-great/with/jill">seven/fun-stuff/and/sweetness-is-great/with/jill/</a></li>
    </ul>
  </li>
</ul>
